#tmp files
/home/.bash_history
/home/.lesshst
/home/.motd_shown
/home/.viminfo
/home/.cache/*
/home/.dotnet/*
/home/.vscode-remote-containers/*
/home/.vscode-server/*
/home/.wget-hsts

#tmux ignore
/home/.tmux/*